<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{Normal/base::layout(~{::section})}">
<head>
<link>
<meta charset="ISO-8859-1">
<title>Settings</title>

</head>
<body>
	<section class="container mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h3 class="mb-3">Change Passwords</h3>
						
						<form th:action="@{/user/change-password}" method="post">
						<!-- Old Password -->
							<div class="form-group">
								<input name="oldPassword" type="text" class="form-control" 
								placeholder="Enter Your Old Password"/>
							</div>
						<!-- 	New Password field --> 
							<div class="form-group mt-3">
								<input name="newPassword" type="text" class="form-control" 
								placeholder="Enter Your New Password"/>
							</div>
							
							<div class="container text-center mt-3">
								<button type="submit" class="btn btn-success">
									Change
								</button >
									<button type="reset" class="btn btn-warning ">
									Reset
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">   
       </script>
		<script>
			$(document).ready(()=>{	$(".item").removeClass('active');
			$("#settings-link").addClass('active');
						});
			</script>
	</section>
</body>
</html>